<div class="ui centered grid">
  <div class="six wide column">
    <h3 class="ui center aligned header">Set Password</h3>
    <div class="ui borderless menu" [hidden]="hideSearch">
      <div class="item">Enter Email To Search:</div>
      <div class="right item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...." [(ngModel)]="searchText" (keyup.enter)="searchUer()" (focus)="resetMessages()">
          <i class="search link icon" (click)="searchUer()"></i>
        </div>
      </div>
    </div>
    <div class="ui center aligned header" [style.color]="red" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="ui center aligned header" [style.color]="red" *ngIf="successMessage">{{successMessage}}</div>
    <div *ngIf="user">
      <form [formGroup]="setPasswordForm">
        <div class="ui form">
          <div class="field">
            <label>Email</label>
            <input type="text" placeholder="email" formControlName="email">
          </div>
          <div class="field" [ngClass]="{'error': f.password.invalid && (f.password.dirty || f.password.touched)}">
            <label>Password</label>
            <input type="passworld" placeholder="password..." formControlName="password">
            <div [style.color]="red" *ngIf="f.password.errors && (f.password.dirty || f.password.touched)">
              <div class="header" *ngIf="f.password.errors.required">password is required</div>
              <div class="header" *ngIf="f.password.errors.minlength">Password minimum length is 8 characters</div>
            </div>
          </div>
        </div>
        <div class="ui menu borderless">
          <button type="button" class="ui primary button" (click)="onSetPassword();"
            [disabled]="setPasswordForm.errors || setPasswordForm.invalid">Submit</button>
          <button type="button" class="ui button" (click)="onResetForm();">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>