<div class="ui centered grid">
  <div class="six wide column">
    <h3 class="ui center aligned header">Set Password</h3>
    <div class="ui secondary menu">
      <div class="right menu">
        <div class="item">
          <form novalidate class="ui transparent icon input" [formGroup]="searchForm">
            <input type="text" placeholder="Search...." formControlName="email">
            <i class="search link icon" (click)="searchUer()"></i>
          </form>
        </div>
      </div>
    </div>
    <form novalidate class="ui form"  [formGroup]="setPasswordForm" *ngIf="user">
      <div class="field" [ngClass]="{'error': f.email.invalid  && ( f.email.dirty || f.email.touched)}">
        <label>Email</label>
        <input type="text" placeholder="Email Address" formControlName="email">
        <div [style.color]="'red'" *ngIf="f.email.errors && ( f.email.dirty || f.email.touched )">
          <div class="header" *ngIf="f.email.errors.required"> email is required.</div>
          <div class="header" *ngIf="f.email.errors.email"> a valid email address is required.</div>
        </div>
      </div>
      <div class="field" [ngClass]="{'error': f.password.invalid &&( f.password.dirty || f.password.touched)}">
        <label>password</label>
        <input class="password" type="password" placeholder="Password" formControlName="password"><span
          *ngIf="f.password.valid"><i class="green check icon"></i></span>
        <div [style.color]="'red'" *ngIf="f.password.errors && ( f.password.dirty || f.password.touched )">
          <div class="header" *ngIf="f.password.errors.required"> Password is required.</div>
          <div class="header" *ngIf="f.password.errors.minlength"> Password minimum length is 8
            characters.</div>
        </div>
      </div>
    </form>
  </div>
</div>