<!-- /*
  This nice dropzone based on Luis Moncaris's Tutorial title
  How to create a Drag and Drop file directive in angular2 with angular-cli
  URL: https://scotch.io/@minrock/how-to-create-a-drag-and-drop-file-directive-in-angular2-with-angular-cli-part-1
    https://scotch.io/@minrock/how-to-create-a-drag-and-drop-file-directive-in-angular2-with-angular-cli-part-2
*/ -->
<div class="ui centered grid pt-10">
  <div class="ten wide column">
    <form [formGroup]="uploadForm" class="ui form">
      <div class="inline field">
        <label>Select Gallery to Upload</label>
        <select formControlName="upldGallery" (ngModelChange)="onGallerySelectChanged($event)" class="menu" required>
          <option class="item" *ngFor="let g of galleries" [ngValue]="g">{{g.gallery|titlecase}}</option>
        </select>
        <label>Select Year</label>
        <select formControlName="yearPicker" (ngModelChange) = "onYearSelectChanged($event)" class="menu" required>
          <option class="item" *ngFor="let y of years" [ngValue]="y">{{y}}</option>
        </select>
      </div>
      <div class="dropzone" appDnd (filesChangeEmitter)="onFileChange($event)"
        (filesInvalidEmitter)="onInvalidFileChange($event)" [allowed_extensions]="allowed_ext">
        <div class="text-wrapper">
          <div class="centered">Drop your file here!</div>
        </div>
      </div>
    </form>

    <div class="pt-10" *ngIf="invalidImages.length !== 0 || validImages.length !== 0">
      <div class="ui grid">
        <div class="row">
          <div class="three wide column">Image</div>
          <div class="five wide column">File Name</div>
          <div class="three wide column">Author</div>
          <div class="two wide column">Size(KB)</div>
          <div class="three wide column center aligned">Actions</div>
        </div>
      </div>
      <div class="ui grid" *ngIf="validImages.length !== 0">
        <div class="row" *ngFor="let img of validImages; let i=index">
          <div class="three wide column">
            <div class="ui tiny image">
              <img [src]="img.reviewUrl">
            </div>
          </div>
          <div class="five wide column">
            <div class="description">{{validImages[i].filename}}</div>
          </div>
          <div class="three wide column">{{validImages[i].author}}</div>
          <div class="two wide column">
            <div class="description">{{validImages[i].size/1024|number:'.2-2'}}</div>
          </div>
          <div class="three wide column right aligned">
            <button class=" mini ui negative basic button" (click)="removeFile(i)">Remove</button>
            <button class=" mini ui positive basic button" (click)="uploadFile(img)" [disabled]="!uploadForm.valid">Upload</button>
          </div>
        </div>
      </div>
      <div class="ui grid" *ngIf="invalidImages.length > 0">
        <div class="row" *ngFor="let img of invalidImages; let i=index">
          <div class="three wide column">
            <div class="ui small image" *ngIf="!img.reviewUrl">
              <i class="large file icon"></i>
            </div>
            <div class="ui tiny image" *ngIf="img.reviewUrl">
              <img [src]="img.reviewUrl">
            </div>
          </div>
          <div class="five wide column">
            <div class="description">
              <div class="red text" *ngIf="!isValidFileName(invalidImages[i].imgFile.name)">Invalid File Name Format: </div>
              <div>{{invalidImages[i].imgFile.name}}</div>
            </div>
          </div>
          <div class="three wide column">{{invalidImages[i].author}}</div>
          <div class="two wide column">
            <div class="description">{{invalidFileArray[i].size/1024|number:'.2-2'}}</div>
          </div>
          <div class="three wide column right aligned">
            <button class=" mini ui negative basic button" (click)="removeInvalidFile(i)">Remove</button>
          </div>
        </div>
      </div>
      <div class="ui grid">
        <div class="inline">
          <button class="large ui negative button" (click)="removeAllFiles()">Remove All</button>
          <button class="large ui positive button" (click)="uploadAllFiles()" [disabled]="!uploadForm.valid">Upload All</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui top attached secondary menu" *ngIf="showBackMenu">
  <a class="item" (click)="goBack()"><i class="medium arrow left icon"></i>BACK</a>
</div>