<div class="ui centered grid pt-10">
  <div class="ten wide column">
    <form [formGroup]="uploadForm" class="ui form">
      <div class="inline field">
        <label>Select Gallery to Upload</label>
        <select formControlName="upldGallery" class="menu">
          <option *ngFor="let g of galleries" [value]="g.galleryId" class="item">{{g.gallery|titlecase}}</option>
        </select>
        <label>Select Year</label>
        <select formControlName="yearPicker" class="menu">
          <option class="item" *ngFor="let y of years" [value]="y">{{y}}</option>
        </select>
      </div>
      <div class="dropzone" appDnd (filesChangeEmitter)="onFileChange($event)"
        (filesInvalidEmitter)="onInvalidFileChange($event)" [allowed_extensions]="['png', 'jpg', 'bmp', 'ico']">
        <div class="text-wrapper">
          <div class="centered">Drop your file here!</div>
        </div>
      </div>
    </form>

    <div *ngIf="invalidFileArray.length !== 0 || fileArray.length !== 0">
      <!-- <div class="header" *ngIf="fileArray.length !== 0">File To Upload</div> -->
      <div class="ui grid" *ngIf="fileArray.length !== 0">
        <div class="row">
          <div class="three wide column">Image</div>
          <div class="seven wide column">Name</div>
          <div class="two wide column">Size</div>
          <div class="four wide column center aligned">Actions</div>
        </div>
        <div class="row" *ngFor="let url of reviewUrl; let i=index">
          <div class="three wide column">
            <div class="ui tiny image">
              <img [src]="url">
            </div>
          </div>
          <div class="seven wide column">
            <div class="description">{{fileArray[i].name}}</div>
          </div>
          <div class="two wide column">
            <div class="description">{{fileArray[i].size}}</div>
          </div>
          <div class="four wide column right aligned">
            <button class=" mini ui negative basic button" (click)="removeFile(i)">Remove</button>
            <button class=" mini ui positive basic button" (click)="uploadFile(i)">Upload</button>
          </div>
        </div>
        <div class="row" *ngFor="let file of invalidFileArray; let i=index">
          <div class="three wide column">
            <div class="ui small image">
              <i class="large file icon"></i>
            </div>
          </div>
          <div class="seven wide column">
            <div class="description">{{file.name}}</div>
          </div>
          <div class="two wide column">
            <div class="description">{{file.size}}</div>
          </div>
          <div class="four wide column">
            <button class=" mini ui negative basic button" (click)="removeInvalidFile(i)">Remove</button>
          </div>
        </div>
        <div class="row">
          <button class="large ui negative button" (click)="removeAllFiles()">Remove All</button>
          <button class="large ui positive button" (click)="uploadAllFiles()">Upload All</button>
        </div>
      </div>
    </div>
  </div>
</div>