<div class="ui padded grid">
  <div class="ui four special cards">
    <a class="card"  *ngFor="let g of galleries" [routerLink]="['/gallery', g.gallery]">
      <div class="blurring dimmable image" [appHvnHover]="{'querySelector': '.dimmer'}">
        <div class="ui dimmer" >
          <div class="content">
            <div class="center">
              <div class="ui basic label">{{g.gallery}}</div>
            </div>
          </div>
        </div>
        <img [src]="g.profilePhoto">
      </div>
    </a>
  </div>
</div>