<div class="ui centered padded grid">
    <div class="six wide column">
      <h3 class="ui center aligned header">Edit User {{userService.userFullName(user) | titlecase}}</h3>
      <form novalidate [formGroup]="userForm" (ngSubmit)="onSaveUser();">
        <div class="ui form">
            <div class="field"
                [ngClass]="{'error': f.firstName.invalid &&( f.firstName.dirty || f.firstName.touched)}">
                <label>First Name</label>
                <input type="text" placeholder="First Name" formControlName="firstName">
                <div [style.color]="'red'"
                    *ngIf="f.firstName.errors && ( f.firstName.dirty || f.firstName.touched )">
                    <div class="header" *ngIf="f.firstName.errors.required"> First Name is required.</div>
                </div>
            </div>
            <div class="field"
                [ngClass]="{'error': f.lastName.invalid &&( f.lastName.dirty || f.lastName.touched)}">
                <label>Last Name</label>
                <input type="text" placeholder="Last Name" formControlName="lastName">
                <div [style.color]="'red'" *ngIf="f.lastName.errors && ( f.lastName.dirty || f.lastName.touched )">
                    <div class="header" *ngIf="f.lastName.errors.required"> Last Name is required.</div>
                </div>
            </div>
            <div class="field" [ngClass]="{'error': f.email.invalid  && ( f.email.dirty || f.email.touched)}">
                <label>Email</label>
                <input type="text" placeholder="Email Address" formControlName="email">
                <div [style.color]="'red'" *ngIf="f.email.errors && ( f.email.dirty || f.email.touched )">
                    <div class="header" *ngIf="f.email.errors.required"> email is required.</div>
                    <div class="header" *ngIf="f.email.errors.email"> a valid email address is required.</div>
                </div>
            </div>
            <div class="inline fields">
                <div class="field">
                <label for="activeInd">Active Indicator:</label>
                <select class="menu" formControlName="activeInd">
                  <option class="item"  [ngValue]="'N'">N</option>
                  <option class="item" [ngValue]="'Y'">Y</option>
                </select>
              </div>
            </div>
            <div class="inline fields" [ngClass]="{error: f.roleCode.invalid && ( f.roleCode.dirty || f.roleCode.touched)}">
                <div class="field">
                <label for="roleCode">Role</label>
                <select class="menu" formControlName="roleCode">
                    <option class="item" *ngFor="let role of roles" [ngValue]="role.roleCode" [selected]="user.roleCode === role.roleCode">{{role.roleDescription}}</option>
                </select>
              </div>
                <div [style.color]="'red'" *ngIf="f.roleCode.errors && ( f.roleCode.dirty || f.roleCode.touched)">
                    <div class="header" *ngIf="f.roleCode.errors.required"> Please Select a Role.</div>
                </div>
            </div>
        </div>
        <div class="ui menu borderless">
            <button type="submit" class="ui primary button" [disabled]="userForm.errors || userForm.invalid">Submit</button>
            <button type="button" class="ui red button" (click)="onDeleteUser(user.userId);">Delete</button>
            <button type="button" class="ui button" (click)="onCancelEdit();">Cancel</button>
        </div>
    </form>
  </div>
  </div>

  <vnps-modal [id]="'deleteConfirmDialog'" [(showDialog)]="showDeleteConfirmDialog">
    <div class="actions">
        <button type="button" class="ui basic red tiny button" (click)="onAcceptDenyDelete(false);">
            <i class="close icon"></i>
        </button>
    </div>
    <div class="header">
        Delete User: {{userService.userFullName(user) | titlecase}} -- email: {{user.email}}
    </div>
    <div class="image content">
        <div class="description">
            <div class="ui header">This will remove user {{userService.userFullName(user) | titlecase}} -- email: {{user.email}} from user list.</div>
            <p>Do you want to continue?</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button" (click)="onAcceptDenyDelete(false);">
            Cancel
        </div>
        <div class="ui positive right labeled icon button" (click)="onAcceptDenyDelete(true)">
            Yes
            <i class="checkmark icon"></i>
        </div>
    </div>
</vnps-modal>

<vnps-modal [id]="'cancelEditConfirmDialog'" [(showDialog)]="showCancelEditDialog">
    <div class="actions">
        <button type="button" class="ui basic red tiny button" (click)="onAcceptDenyCancelEdit(false);">
            <i class="close icon"></i>
        </button>
    </div>
    <div class="header">
        Cancel Edit User: {{userService.userFullName(user) | titlecase}} -- email: {{user.email}}
    </div>
    <div class="image content">
        <div class="description">
            <div class="ui header">Navigate away will lose all change to {{userService.userFullName(user) | titlecase}} -- email: {{user.email}}</div>
            <p>Do you want to continue?</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button" (click)="onAcceptDenyCancelEdit(false);">
            Cancel
        </div>
        <div class="ui positive right labeled icon button" (click)="onAcceptDenyCancelEdit(true)">
            Yes
            <i class="checkmark icon"></i>
        </div>
    </div>
</vnps-modal>
