<div class="ui padded centered grid">
  <div class="sixteen wide column">
    <div class="ui tiny right floated basic red button" (click)="close()">x</div>
    <h3 class="ui header">This is the sample modal</h3>
  </div>
  <div class="sixteen wide column">
    <div class="ui fluid card">
      <div class="content">
        <div class="header">Hahahha Testing</div>
        <div class="meta">member 2019</div>
     </div>
     <div class="image">
       <img src="profiles/member/2018/member-2018.jpg">
     </div>
    </div>
  </div>
</div>