<div class="ui centered grid" *ngIf="galleries.length > 0">
  <div class="row">
    <div class="three wide column">
      <h3>Gallery</h3>
    </div>
    <div class="three wide column">
      <h3>Profile Photo</h3>
    </div>
    <div class="three wide column">
      <h3>Created Date</h3>
    </div>
    <div class="three wide column">
      <h3>Updated Date</h3>
    </div>
    <div class="four wide column">
      <h3>Actions</h3>
    </div>
  </div>
  <div class="row" *ngFor="let g of galleries; let i=index">
    <div class="three wide column">
      <div class="description">{{g.gallery}}</div>
    </div>
    <div class="three wide column">
      <div class="ui tiny image">
        <img [src]="g.imgSrc">
      </div>
    </div>
    <div class="three wide column">{{g.createdDate | date:'medium'}}</div>
    <div class="three wide column">{{g.updatedDate | date:'medium'}}</div>
    <div class="four wide column">
      <button class=" mini ui positive basic button" (click)="editGallery(i)">Edit</button>
      <button class=" mini ui negative basic button" (click)="deleteGallery(i)">Delete</button>
    </div>
  </div>
  <div class="four column row" *ngIf="!isAddGallery">
    <div class="ui left floated column">
      <div class="ui primary button" (click)="onAddNewGallery();">Add New Gallery</div>
    </div>
  </div>
  <div class="one column row" *ngIf="isAddGallery">
    <div class="ui left floated column">
      <app-add-gallery (galleryAdded)="onGalleryAdded($event)"></app-add-gallery>
    </div>
  </div>
</div>