.ui.huge.center.aligned.header{
    padding: 20px 0 0 0;
}

.ui.tabular.menu{
    border-bottom: 0;
}

.twelve.wide.column{
    margin-right: 0px !important;
    padding-right: 0px !important;
}

.four.wide.column{
    margin-left: 0px !important;
    padding-left: 0px !important;
}