<div class="ui padded grid">
  <div class="ui huge center aligned blue header">
    VNPS Photography Programs
  </div>
  <p>
    VNPS offers three photography courses: basic, intermediate, and advance photography. Its program lasts 9 months for
    a total of 36 three hour sessions. The courses start in February, few weeks after the Vietnamese Tet (the Lunar New
    Year) and end in Novemver, class session occurs on Sundays at the Willson Center, 6131 Willston Drive, Falls Church,
    VA 22042.
  </p>
  <p>
    Because each students has different backgrounds and experiences and are from all walks of life, each year the
    program has been modified to suit individual needs but also fulfill the VNPS requirements for each level. The below
    are approved programs for 2016.
  </p>
  <p>
    To request information on the program and how to register for VNPS photography course, please send email to
    info@dcvnps.org
  </p>
</div>
<div class="ui top  attached tabular menu">
  <a class="item" #lvl1Anchor [class.active]="showLevel1" (click)="showProgram('level1');">
    <h3 class="ui brown header">Basic Photograpy (Level 1)</h3>
  </a>
  <a class="item" #lvl2Anchor [class.active]="showLevel2" (click)="showProgram('level2');">
    <h3 class="ui brown header">Mid-Level Photography (Level 2)</h3>
  </a>
  <a class="item" #lvl3Anchor [class.active]="showLevel3" (click)="showProgram('level3');">
    <div class="ui brown header">Advance Photography (Level 3)</div>
  </a>
</div>

<div class="ui grid" style="padding: 0 20px 0 20px;">
  <div class="stretched row">
    <div class="twelve wide column">
      <div class="ui basic segment" *ngIf="showLevel1">
        <div class="ui teal ribbon big label">Course Description:</div>
        <p></p>
        <p>
          In Level 1, VNPS students will learn the fundamental photography skills: how to use and operate their camera
          properly, how to incorporate five photographic components (line, shape, form, light, and color) in composing
          an
          aesthetic image. In addition, they will also learn the rule of thirds in photographic composition. In the
          new
          era
          of digital photography, photo image post processing plays a major role in how good a photograph will turn
          out.
          The
          students will be learning the basics steps on how to edit the photo in Photoshop CC Camera Raw. To
          re-enforce
          the
          principles learned in the class room, the Level 1 students will have at least 15 photography field trips
          with
          hands-on guidance from the VNPS instructors. These field trips are designed to give the student
          opportunities
          to
          practice taking photographs on various subjects in landscape photography, event & action photography, street
          photography, and night time photography.
        </p>
        <div class="ui blue ribbon big label"> Prerequisite: </div>
        <p></p>
        <p> None</p>
        <div class="ui violet ribbon big label">
          Curriculum:
        </div>
        <ul>
          <li>Introduction to Digital Single Lens Reflex (DSLR) camera</li>
          <li>Triangle Exposure: Aperture, Shutter, and ISO</li>
          <li>File/image management under Windows operating system</li>
          <li>Introduction to photography composition</li>
          <ul>
            <li>Line, Shape, Form, and Texture</li>
            <li>Light and Color</li>
          </ul>
          <li>Motion in Photography</li>
          <li>Introduction to RAW image and modern digital darkroom</li>
          <li>Introduction to image editing using Photoshop</li>
        </ul>
        <h3 class="ui brown ribbon big label">
          Instructor:
        </h3>
        <ul>
          <li>Binh Le</li>
          <li>Christine Nguyen</li>
          <li>Chuan Truong</li>
        </ul>
      </div>
      <div class="ui basic segment" *ngIf="showLevel2">
        <div class="ui teal ribbon big label">Course Description:</div>
        <p></p>
        <p>
          Level 2 focuses in intermediate photography lessons integrated with practice sessions and special topics in
          photography. The course is taught by Mr. Dinh Tran assisted with a teaching staff of experienced
          photographers
          and
          guest speakers. Hands-on practice session is either in class or field trip to local parks or National Parks
          in
          and
          around the Washington Metropolitan, Pennsylvania, New Jersey, and New York. Field trip is normally organized
          on
          Saturday so that the normal course of classroom instruction will not be disrupted.
        </p>
        <div class="ui blue ribbon big label">
          Prerequisite:
        </div>
        <p></p>
        <p>Completion of Level 1: Basic Photography, or pass and evaluation test</p>
        <div class="ui violet ribbon big label">
          Curriculum:
        </div><br /><br>
        <h4 class="ui teal tag large label">
          Lighting in photography.
        </h4>
        <ul>
          <li>Review Different types of lights in photography</li>
          <li>Flash versus ambient light</li>
          <li>Lighting in event photography</li>
        </ul>
        <h4 class="ui teal tag large label">Special photography techniques</h4>
        <ul>
          <li>Intentional camera movement (ICM) (zooming, panning and shaking the camera)</li>
          <li>Long exposure in photographing fireworks (Fourth of July fireworks on the Mall)</li>
        </ul>
        <h4>Introduction and Workshop on various photography genres</h4>
        <ul>
          <li>Landscape photography</li>
          <li>Macro and close-up photography</li>
          <li>Event photography with special practice workshop on Lunar New Year (“Tet”) festival at Lao and
            Cambodia Temples</li>
          <li>Nature photography</li>
          <li>Portrait photography</li>
          <li>Night photography</li>
        </ul>
        <h4 class="ui teal tag large label">Photoshop</h4>
        <ul>
          <li>Review Adobe Bridge and Camera Raw</li>
          <li>Review Basic Photoshop editing for photographers</li>
          <li>Non-destructive versus destructive Photoshop Adjustments</li>
          <li>Layer, layer mask and basic Photoshop selection techniques</li>
          <li>Introduction to Photoshop blending modes</li>
        </ul>
        <h4 class="ui teal tag large label">Special Topics</h4>
        <ul>
          <li>Traditional compositions like the Rules of the Thirds versus contemporary trends in Beyond the
            Rule of the Thirds</li>
          <li>Creativity process in Photography</li>
          <li>Abstract Photography</li>
        </ul>
        <p>&nbsp;&nbsp;&nbsp;Final Photographic Project: Each student has to work on a photo story project that
          consists of three images, each image is a message. And the thee images should support an overall
          interesting story. A panel of three judges will grade the projects on composition and technical
          photographic presentation as well as the intended photo story.</p>

        <div class="ui brown ribbon big label">
          Instructor:
        </div>
        <ul>
          <li>Dinh Tran, GM</li>
          <li>Diana Nguyen, EPSA, AFIAP</li>
          <li>KieuHanh Vu</li>
        </ul>
      </div>
      <div class="ui basic segment" *ngIf="showLevel3">
        <div class="ui teal ribbon big label">Course Description:</div>
        <p></p>
        <p>
          After gaining the solid basic understanding of photography and digital software from level 1 and level 2.
          The
          Level
          3 program aims to push the students into much higher plane, both as a photographer and as an artist. With
          the
          idea
          that photographs could capture more than just surface appearances, the students will embrace both
          photography
          and
          digital software techniques, to complete their work of art portfolios, which are required for the final
          graduation
          exam. before becoming official VNPS members.
        </p>
        <div class="ui blue ribbon big label">
          Prerequisite:
        </div>
        <p></p>
        <p>Completion of the intermediate photography (Level 2). It is not recommended a prospective student enter
          this
          level
          without completion of Level 2.</p>
        <div class="ui violet ribbon big label">
          Curriculum:
        </div>
        <ul>
          <li>Review of basic photography techniques and manipulations</li>
          <li>Different types of portfolio</li>
          <li>Trend and concept in photography</li>
          <li>Photoshop and post processing work flow</li>
          <li>Nature Photography</li>
          <li>Travel Photography</li>
          <li>Other photography applications</li>
          <li>Advanced topics in : Camera Raw, Composition, Macro, HDR, Long Exposure, High & Low Key</li>
          <li>Basic Infrared photography</li>
          <li>Conceptual Photography</li>
          <li>Creative Photography</li>
          <li>Preparation for the final Photo Essay</li>
        </ul>
        <div class="ui brown ribbon big label">
          Instructor:
        </div>
        <ul>
          <li>MinhTan Thai, MPSA</li>
        </ul>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui basic segment">
        <div class="ui card">
          <div class="content">
            <h3 class="header">Class Enrollment Payment</h3>
            <h5 class="description">Enrollment Fee: {{classFee | currency}}</h5>
            <div class="meta">There is a 5% transaction fee applied</div>
          </div>
          <div class="extra content">
            <app-paypal-button [purchaseAmount]="classFee"></app-paypal-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>