<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical fluid tabular menu borderless">
      <a class="item" (click)="onUploadClick();"  [class.active]="isPhotoUpload">
        Upload Photos
      </a>
      <a class="item" (click)="onGalleryClick();" [class.active]="isGallery" >
        Gallery Profile
      </a>
      <a class="item" (click)="onClasses();" [class.active]="isClasses">
        Vnps Classes
      </a>
      <a class="item" (click)="onAnnouncements();" [class.active]="isAnnouncements">
        Announcements
      </a>
      <a class="item" (click)="onUsers('adminuser');" [class.active]="isAdminUsers">
        Admin Users
      </a>
      <a class="item" (click)="onUsers('siteuser');" [class.active]="isSiteUsers">
       Site Users
      </a>
    </div>
  </div>
  <div class="twelve wide stretched column">
      <app-dropzone  *ngIf="isPhotoUpload"></app-dropzone>
      <app-edit-gallery-profiles *ngIf="isGallery" [galleries]="galleries"></app-edit-gallery-profiles>
      <app-announcements [isEdit]="true" *ngIf="isAnnouncements"></app-announcements>
      <app-edit-class *ngIf="isClasses"></app-edit-class>
      <app-manage-users  [users]="users" *ngIf="isAdminUsers"></app-manage-users>
      <app-manage-users  [users]="users" *ngIf="isSiteUsers"></app-manage-users>
  </div>
</div>
