<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical fluid tabular menu borderless">
        <a class="item" (click)="goBack()"><span><i class="medium arrow left icon"></i></span>BACK</a>
      <a class="item" (click)="onUploadClick();"  [class.active]="isPhotoUpload">
        Upload Photos
      </a>
      <a class="item" (click)="onGalleryClick();" [class.active]="isGallery" >
        Galleries
      </a>
      <a class="item" (click)="onPrograms();" [class.active]="isPrograms">
        Programs
      </a>
      <a class="item" (click)="onAnnouncements();" [class.active]="isAnnouncements">
        Announcements
      </a>
    </div>
  </div>
  <div class="twelve wide stretched column">
      <app-dropzone  *ngIf="isPhotoUpload"></app-dropzone>
      <app-edit-gallery-profiles *ngIf="isGallery" [galleries]="galleries"></app-edit-gallery-profiles>
  </div>
</div>
