<div class="ui bottom attached">
  <div class="ui secondary menu borderless">
    <a class="item" (click)="goBack()"><i class="medium arrow left icon"></i>BACK</a>
    <a class="right floated item" (click)="goToTop()"><i  class="medium angle double up icon"></i>Top of Page</a>
  </div>
  <div class="ui thick divider"></div>
  <div class="ui equal width center aligned padded grid">
    <div class="row">
      <a class="ui large image"
        href="http://www.bhphotovideo.com/c/browse/Photography/ci/989/N/4294538916?KW=&amp;img=dcresource728x90.jpg&amp;KBID=8145&amp;BI=7627"
        imageanchor="1" target="_blank">
        <img src="http://www.bhphotovideo.com/images/affiliateimages/dcresource728x90.jpg" />
      </a>
    </div>
    <div class="row">Copy Right &copy; 2017 Vietnamese Photographic Society of Washington Metropolitan.</div>
  </div>
</div>