<div class="ui centered padded grid">
    <div class="six wide column">
        <h3 class="ui center aligned header">Set Password <span class="setPwdHeader">{{userService.userFullName(user)| titlecase}}</span> </h3>
        <form class="ui form" novalidate [formGroup]="passwordForm" (ngSubmit)="onSavePwd();">
            <div class="field" [ngClass]="{'error': passwordInvalid &&( f.password.dirty || f.password.touched)}">
                <label>password</label>
                <input class="password" type="password" placeholder="Password" formControlName="password"><span
                    *ngIf="!passwordInvalid && f.password.touched  && passwordMatched"><i
                        class="green check icon"></i></span>
                <div [style.color]="'red'" *ngIf="passwordInvalid && ( f.password.dirty || f.password.touched )">
                    <div class="header" *ngIf="passwordInvalid"> Password minimum length is 8
                        characters.</div>
                </div>
            </div>
            <div class="field"
                [ngClass]="{'error':cnfrmPwdInvalid &&( f.confirmPassword.dirty || f.confirmPassword.touched)}">
                <label>password</label>
                <input class="password" type="password" placeholder="Confirm Password"
                    formControlName="confirmPassword"><span
                    *ngIf="!cnfrmPwdInvalid && f.confirmPassword.touched && passwordMatched"><i
                        class="green check icon"></i></span>
                <div [style.color]="'red'" *ngIf="( f.confirmPassword.dirty || f.confirmPassword.touched )">
                    <div class="header" *ngIf="cnfrmPwdInvalid"> Password minimum length is 8
                        characters.</div>
                </div>
            </div>
            <div [style.color]="'red'" *ngIf="!passwordMatched">Passwords Not Matched.</div>
            <div class="ui menu borderless">
                <button type="submit" class="ui primary button"
                    [disabled]="passwordForm.errors || passwordForm.invalid">Submit</button>
                <button type="button" class="ui button" (click)="onCancelSetPassword();">Cancel</button>
            </div>
        </form>
    </div>
</div>

<vnps-modal [id]="'addCancelConfirmDialog'" [(showDialog)]="showDialog">
    <div class="actions">
        <button type="button" class="ui basic red tiny button" (click)="onAcceptDenySetPwd(false);">
            <i class="close icon"></i>
        </button>
    </div>
    <div class="header">
        Cancel Set User Password
    </div>
    <div class="image content">
        <div class="description">
            <div class="ui header">
                Naviate away without saving will loose all the changes.
            </div>
            <p>Do you want to continue?</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button" (click)="onAcceptDenySetPwd(false);">
            Cancel
        </div>
        <div class="ui positive right labeled icon button" (click)="onAcceptDenySetPwd(true)">
            Yes
            <i class="checkmark icon"></i>
        </div>
    </div>
</vnps-modal>