<div class="ui small grey inverted secondary menu" *ngIf="siteAdmin()">
    <a class="item" (click)="editAnnouncements()" aria-label="Edit Announcements" *ngIf="siteAdmin() && !editAncmnts ">
        <span><i class="large edit icon"></i></span>Edit Announcements
    </a>
    <a class="item" (click)="finishEditAnnouncements()" aria-label="Finish Edit Announcements" *ngIf="siteAdmin() && editAncmnts ">
        <span><i class="large remove icon"></i></span>Finish Editing
    </a>
    <a class="item" (click)="addAnnouncement()" aria-label="Add Announcements" *ngIf="siteAdmin()">
        <span><i class="large add icon"></i></span>Add Announcement
    </a>
</div>

<div class="ui grid container">
    <div class="twelve wide column">
        <app-add-announce (announcementAction)="onAnnouncementAction($event)" *ngIf="siteAdmin() && addAncmnt"></app-add-announce>
        <app-edit-announcement (announcementAction)="onAnnouncementAction($event)" [announcement]="initEditAncmnt" *ngIf="siteAdmin() && editAncmnt"></app-edit-announcement>
        <app-announcement *ngFor=" let announcement of announcements" [announcement]="announcement" [isEdit]="editAncmnts" (announcementAction)="onAnnouncementAction($event)"></app-announcement>
    </div>
</div>