<div class="ui centered grid" *ngIf="photos.length > 0">
  <div class="row">
    <div class="three wide column"><h3>Image</h3></div>
    <div class="four wide column"><h3>File Name</h3></div>
    <div class="two wide column"><h3>Year</h3></div>
    <div class="two wide column"><h3>Author</h3></div>
    <div class="two wide column"><h3>Description</h3></div>
    <div class="three wide column"><h3>Actions</h3></div>
  </div>
  <div class="row" *ngFor="let img of photos; let i=index">
    <div class="three wide column">
      <div class="ui tiny image">
        <img [src]="img.imgsrc">
      </div>
    </div>
    <div class="four wide column">
      <div class="description">{{img.imgalt}}</div>
    </div>
    <div class="two wide column">{{dzconfig.year}}</div>
    <div class="two wide column">{{author}}</div>
    <div class="two wide column">
      <div class="description">testing</div>
    </div>
    <div class="three wide column left aligned">
      <!-- <button class=" mini ui positive basic button" (click)="editPhoto(img)">Edit</button> -->
      <button class=" mini ui negative basic button" (click)="deletePhoto(img)">Delete</button>
    </div>
  </div>
</div>
<app-dropzone [config]="dzconfig" (photoAdded)="onPhotoAdded($event)"></app-dropzone>
