<div class="min-page-height">
  <div class="ui secondary menu">
    <button class="item" (click)="onFilterYear();">{{level|uppercase}}</button>
    <!-- <a class="item" *ngFor="let year of years" [routerLink]="['/gallery',level,year]">{{year}}</a> -->
    <button class="item" *ngFor="let year of years" (click)="onFilterYear(year);">{{year}}</button>
  </div>
  <div class="ui four stackable cards">
    <a class="card" *ngFor="let s of slides" (click)="showPopup(s.photoIndex);">
      <div class="image">
        <img [src]="s.imgsrc">
      </div>
    </a>
  </div>
</div>
<!-- Popup slide show -->
<app-popup [(visible)]="showDialog" [data]="slides"></app-popup>