<h3>Add New Gallery</h3>
<form novalidate class="ui big form" [formGroup]="galleryForm" (submit)="onSubmitForm();">
  <div class="inline field" [ngClass]="{'error': f.galleryName.invalid  && ( f.galleryName.dirty || f.galleryName.touched)}">
    <label>Gallery Name: </label>
    <input type="text"  formControlName="galleryName" placeholder="gallery name">
  </div>
  <div [style.color]="'red'" *ngIf="f.galleryName.errors && ( f.galleryName.dirty || f.galleryName.touched )">
    <div class="header" *ngIf="f.galleryName.errors.required">Gallery Name is required.</div>
  </div>
  <div class="inline field" [ngClass]="{'error': errorMsg || (f.galleryPhoto.errors && ( f.galleryPhoto.dirty || f.galleryPhoto.touched ))}">
    <label for="galleryPhoto">Gallery Photo: </label>
    <input type="file" #file formControlName="galleryPhoto" accept="image/*" (change)="updateImageDisplay(file.files);">
    <div class="ui tiny image" #priview *ngIf="imgUrl">
      <img [src]="imgUrl">
    </div>  
  </div>
  <div class="header" *ngIf="errorMsg">{{errorMsg}}</div>
  <div [style.color]="'red'" *ngIf="f.galleryPhoto.errors && ( f.galleryPhoto.dirty || f.galleryPhoto.touched )">
    <div class="header" *ngIf="f.galleryPhoto.errors.required">Gallery Photo is required.</div>
  </div>
  <button type="submit" class="ui primary button float left floated" [disabled]="!galleryForm.valid">Submit</button>
  <button type="button" class="ui secondary button float left floated" (click)="onCancel();">Cancel</button>
</form>