.carousel-arrows{
    position: relative!important;
    top: -50%!important;
}

.carousel-indicators{
    position: relative!important;
    top: -30%!important;
}
.carousel-indicators a{
    padding-left: 3px;
}
.active.item{
    background-color: yellow!important;
}

.left.menu{
    margin-left: 3%;
}

.right.menu{
    margin-right: 3%;
}