<div class="ui padded grid" #program>
  <div class="stretch row">
    <table class="ui slectable striped celled table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Class Level</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of mClasses">
          <td>{{c.id}}</td>
          <td>{{c.description}}</td>
          <td>
            <button class="ui basic mini green button" (click)="onEditClass(c);">Edit</button>
            <button class="ui basic mini red button" (click)="onDeleteClass(c.id);">Delete</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3">
            <button class="ui small primary button" (click)="onAddClass();">Add New Class</button>
          </th>
        </tr>
      </tfoot>
    </table>
    <div class="twelve wide column">
      <form class="ui form" [formGroup]="classForm" *ngIf="editClass">
        <div class="field">
          <h2 class="ui dividing header">{{subHeader}}</h2>
        </div>
        <div class="field" *ngIf="addClass">
          <h4 class="ui teal ribbon big label">Class Code/Level</h4>
          <input type="text" formControlName="level">
        </div>
        <div class="field" *ngIf="addClass">
          <h4 class="ui teal ribbon big label">Class Code/ Level Description</h4>
          <textarea formControlName="levelDesc" rows="2"></textarea>
        </div>
        <div class="field">
          <h4 class="ui teal ribbon big label">Description</h4>
          <textarea formControlName="description"></textarea>
        </div>
        <div class="field">
          <h4 class="ui light blue ribbon big label">prerequisite</h4>
          <textarea formControlName="prerequisite" rows="2"></textarea>
        </div>
        <div class="field">
          <h4 class="ui violet ribbon big label">Curriculum</h4>
          <editor [init]="tinyCurriculumInit" formControlName="curriculum"></editor>
        </div>
        <div class="field">
          <h4 class="ui violet ribbon big label">Intructors</h4>
          <editor [init]="tinyInstructorsInit" formControlName="instructors"></editor>
        </div>
        <button type="button" class="ui submit large blue button" (click)="onSaveClass();">Save</button>
        <button type="button" class="ui submit large grey button" (click)="onCancel()">Cancel</button>
      </form>
      <div *ngIf="editClass && !classForm.pristine">
        <h2>Review</h2>
        <div class="ui basic segment">
          <div class="ui teal ribbon big label">Description</div>
          <div>{{formValue.description}}</div>
        </div>
        <div class="ui basic segment">
          <div class="ui light blue ribbon big label">Prerequisite</div>
          <div>{{formValue.prerequisite}}</div>
        </div>
        <div class="ui basic segment">
          <div class="ui violet ribbon big label">Curriculum</div>
          <div [innerHTML]="formValue.curriculum | safeHtml"></div>
        </div>
        <div class="ui basic segment">
          <div class="ui violet ribbon big label">Instructors</div>
          <div [innerHTML]="formValue.instructors | safeHtml"></div>
        </div>
        <button type="submit" class="ui submit large blue button" (click)="onSaveClass()">Save</button>
        <button type="submit" class="ui submit large grey button" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>