<div id="vnpscarousel" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#vnpscarousel" *ngFor="let s of slides" data-slide-to="s.photoIndex"
      [class.active]="s.photoIndex===0"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let s of slides" [class.active]="s.photoIndex===0">
      <img [src]="s.imgsrc" alt="s.imgalt" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h3>{{s.imgalt}}</h3>
        <p>We had such a great time in LA!</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#vnpscarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#vnpscarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>