<div class="ui modal" #confirmation id="confirmation">
  <i class="close icon"></i>
  <div class="header">
    Delete Gallery
  </div>
  <div class="image content">
    <!-- <div class="ui medium image">
      <img src="/images/avatar/large/chris.jpg">
    </div> -->
    <div class="description">
      <div class="ui header">This will remove the gallery including all uploaded photos.</div>
      <p>Do you want to continue?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button" (click)="onAcceptDeny(false);">
      Cancel
    </div>
    <div class="ui positive right labeled icon button" (click)="onAcceptDeny(true)">
      Yes
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>