.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba( 0, 0, 0,0.3);
    z-index: 999;
  }
  
  .dialog {
    z-index: 1000;
    padding: 12px;
    overflow: hidden;
    box-shadow: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .dialog-close-btn {
    border: 0;
    background: none;
    color: #2d2d2d;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 1.2em;
  }

  .dialog .slide-pos{
    margin-top: auto!important;
    margin-bottom: auto!important;
  }
