<!-- overlay the whole screen -->
<div *ngIf="visible" class="overlay" (click)="close()"></div>
<!-- dialog layer -->
<div [@popup] *ngIf="visible" class="dialog">
  <button *ngIf="closable" (click)="close()" aria-label="Close" class="dialog-close-btn">X</button>
  <div class="ui grid">
    <div class="middle aligned two wide column">
      <a class="ui basic button" (click)="prevImage();">
        <i class="huge middle chevron left icon"></i>
      </a>
    </div>
    <div class="middle aligned twelve wide column">
      <div *ngFor="let slide of data">
        <div [hidden]="slide.hidden">
          <div class="ui fluid card">
            <!-- <div class="content">
            <div class="header">{{data.imageSource}}--{{data.imageIndex}}</div>
            </div> -->
            <div class="image" [class.portrait]="slide.portrait==='true'" [class.landscape]="slide.portrait!=='true'">
              <img [src]=slide.imgsrc>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="middle aligned two wide column">
      <a class="ui basic button" (click)="nextImage();">
        <i class="huge chevron right icon"></i>
      </a>
    </div>
  </div>
  <!-- <button (click)="showDialog = !showDialog" class="btn">Close</button> -->
</div>