.carousel-control-prev{
    font-size: 1.5em;
    z-index: 1001;
    height: 50%;
    left: 25%;
}

.carousel-control-next{
    font-size: 1.5em;
    z-index: 1001;
    height: 50%;
    right: 25%;
}

.carousel-control-button{
    left: 50%;
}