.ui.seizer.segment{
  border-radius: 0!important;
}
//******************* Carousel CSS *******************
$size : 500px;
.ui.card{
  width:$size !important;
  box-shadow: none!important;
}

.card .image{
  background: black !important;
  width: $size!important; 
  height: $size!important;

  &.icon{
    text-align:center;
    line-height:$size;
    i{
      display: inline-block;
      vertical-align: middle;   
    }
  }
  
  &.portrait img{
    border-radius: 0 !important;
    height:$size !important;
    width: auto!important;
    margin:auto;
  }
  
  &.landscape img{
    border-radius: 0 !important;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
  }
}
//************** Carousle ***********************