.inline.field input{
    width: 100px!important;
}

.paypal-button{
    width: 60%!important;
}

.ui.huge.center.aligned.header{
    // font-family: 'Tangerine', serif!important;
    font-size: 48px!important;
    text-shadow: 4px 4px 4px #aaaaaa!important;
}