<div class="ui top attached">
    <h3 class="ui blue center aligned header">Change Password</h3>
    <div class="ui six column grid">
        <form novalidate class="ui small form" [formGroup]="changePasswordForm">
            <div class="inline field" [ngClass]="{'error': f.email.invalid  && ( f.email.dirty || f.email.touched)}">
                <label>Email</label>
                <input type="text" placeholder="Email Address" formControlName="email">
                <div [style.color]="'red'" *ngIf="f.email.errors && ( f.email.dirty || f.email.touched )">
                    <div class="header" *ngIf="f.email.errors.required"> email is required.</div>
                    <div class="header" *ngIf="f.email.errors.email"> a valid email address is required.</div>
                </div>
            </div>
            <div class="inline field"
                [ngClass]="{'error': f.oldPassword.invalid &&( f.oldPassword.dirty || f.oldPassword.touched)}">
                <label>Old Password</label>
                <input class="password" type="password" placeholder="Old Password" formControlName="oldPassword"><span
                    *ngIf="f.oldPassword.valid"><i class="green check icon"></i></span>
                <div [style.color]="'red'"
                    *ngIf="f.oldPassword.errors && ( f.oldPassword.dirty || f.oldPassword.touched )">
                    <div class="header" *ngIf="f.oldPassword.errors.required"> Password is required.</div>
                    <div class="header" *ngIf="f.oldPassword.errors.minlength"> Password minimum length is 8 characters.
                    </div>
                </div>
            </div>
            <div class="inline field"
                [ngClass]="{'error': f.newPassword.invalid &&( f.newPassword.dirty || f.newPassword.touched)}">
                <label>New Password</label>
                <input class="password" type="password" placeholder="New Password" formControlName="newPassword"
                    (keyup.enter)="onConfirmPasswordEnter()" (focus)="onInputFocus()"
                    (focusout)="onInputFocusOut()"><span *ngIf="f.newPassword.valid  && !misMatchPassword"><i
                        class="green check icon"></i></span>
                <div [style.color]="'red'"
                    *ngIf="f.newPassword.errors && ( f.newPassword.dirty || f.newPassword.touched )">
                    <div class="header" *ngIf="f.newPassword.errors.required"> Password is required.</div>
                    <div class="header" *ngIf="f.newPassword.errors.minlength"> Password minimum length is 8 characters.
                    </div>
                </div>
            </div>
            <div class="inline field"
                [ngClass]="{'error':f.confirmPassword.invalid &&( f.confirmPassword.dirty || f.confirmPassword.touched)}">
                <label>Confirm Password</label>
                <input class="password" type="password" placeholder="Confirm Password" formControlName="confirmPassword"
                    (keyup.enter)="onConfirmPasswordEnter()" (focus)="onInputFocus()"
                    (focusout)="onInputFocusOut()"><span *ngIf="f.confirmPassword.valid && !misMatchPassword"><i
                        class="green check icon"></i></span>
                <div [style.color]="'red'"
                    *ngIf="f.confirmPassword.errors && ( f.confirmPassword.dirty || f.confirmPassword.touched )">
                    <div class="header" *ngIf="f.confirmPassword.errors.required"> Password is required.</div>
                    <div class="header" *ngIf="f.confirmPassword.errors.minlength"> Password minimum length is 8
                        characters.
                    </div>
                </div>
            </div>
            <div class="header" [style.color]="'red'" *ngIf="misMatchPassword">Password MisMatched</div>
            <div class="ui menu borderless">
                <button type="button" class="ui primary button" (click)="onSubmit();"
                    [disabled]="changePasswordForm.errors || changePasswordForm.invalid || misMatchPassword">Submit</button>
                <button type="button" class="ui button" (click)="onCancel();">Cancel</button>
            </div>
        </form>
    </div>
</div>