<div class="ui attached inverted stackable menu">
  <div class="header item">DC Vnps</div>
  <div class="item" [routerLinkActive]="['active']">
    <div class="ui simple dropdown">
      <a class="item" [routerLink]="['/home']">
        <i class="small home icon"></i>
        <div class="text">Home</div>
      </a>
    </div>
  </div>
  <div class="item" [routerLinkActive]="['active']">
    <div class="ui simple dropdown">
      <a class="item" [routerLink]="['vnpsclasses',level]">
        <i class="small book icon"></i>
        <div class="text">Vnps Classes</div>
        <i class="dropdown icon"></i>
      </a>
      <div class="menu">
        <a class="item" *ngFor="let c of mClasses" [routerLink]="['vnpsclasses',c.level]">{{c.description}}</a>
      </div>
    </div>
  </div>
  <div class="item" [routerLinkActive]="['active']">
    <div class="ui simple dropdown">
      <a class="item" [routerLink]="['gallery/level']" [state]="mGalleries[0]">
        <i class="image icon"></i>
        <div class="text">Galleries</div>
        <i class="dropdown icon"></i>
      </a>
      <div class="menu">
        <a class="item" *ngFor="let g of mGalleries" [routerLink]="['gallery/level']" [state]="g">{{g.gallery}}</a>
      </div>
    </div>
  </div>
  <div class="item" [routerLinkActive]="['active']">
    <div class="ui simple dropdown">
      <a class="item" [routerLink]="['announcements']">
        <i class="small bullhorn icon"></i>
        <div class="text">Announcements</div>
      </a>
    </div>
  </div>
  <div class="item" [routerLinkActive]="['active']">
    <div class="ui simple dropdown">
      <a class="item" [routerLink]="['/aboutus']">
        <i class="small comments icon"></i>
        <div class="text">About Us</div>
      </a>
    </div>
  </div>
  <a *ngIf="hidden" class="item" [routerLink]="['/quicktest']" [routerLinkActive]="['active']" aria-label="quicktest">
    <i class="small money icon"></i>Quick Test
  </a>
  
  <div class="stackable right menu">
    <a class="item" [routerLink]="['/managesite']" [routerLinkActive]="['active']" *ngIf="isAdmin()">
      <span> <i class="user icon"></i><i class="cogs icon"></i></span>
      Manage Site
    </a>
    <a class="item" [routerLink]="['/login']" [routerLinkActive]="['active']" *ngIf="!isLogin()">
      <i class="small sign in icon"></i>
      Sign in
    </a>
    <a class="item" (click)="logout()" *ngIf="isLogin()">
      Sign Out<i class="small sign out icon"></i>
    </a>
  </div>
</div>