<div class="ui grey inverted secondary menu">
  <a class="item" (click)="goBack()"><i class="medium arrow left icon"></i>BACK</a>
  <div class="stackable right menu" *ngIf="isAdmin">
    <a class="item" [routerLink]="['/editgalleries']" [routerLinkActive]="['active']" aria-label="Edit galleries">
      <span><i class="big edit icon"></i></span>Edit Galleries
    </a>
    <a class="item" [routerLink]="['/fileupload']" [routerLinkActive]="['active']" aria-label="Upload Image">
      <span>Upload Image</span><i class="big upload icon"></i>
    </a>
  </div>
</div>
<app-gallery-list [galleries]="galleries"></app-gallery-list>