<form class="ui form" [formGroup]="classForm" (ngSubmit)="onAddClass();">
    <div class="field">
        <h2 class="ui dividing header">Add Class {{levelDesc}}</h2>
    </div>
    <div class="field">
        <h4 class="ui teal ribbon big label">Class Code/Level</h4>
        <input type="text" formControlName="level" placeholder="class level">
    </div>
    <div class="field">
        <h4 class="ui teal ribbon big label">Class Code/ Level Description</h4>
        <textarea formControlName="levelDesc" rows="2" placeholder="level description"></textarea>
    </div>
    <div class="field">
        <h4 class="ui teal ribbon big label">Class Summary</h4>
        <textarea formControlName="description" placeholder="class summary"></textarea>
    </div>
    <div class="field">
        <h4 class="ui light blue ribbon big label">prerequisite</h4>
        <textarea formControlName="prerequisite" rows="2" placeholder="prerequisite"></textarea>
    </div>
    <div class="field">
        <h4 class="ui violet ribbon big label">Curriculum</h4>
        <editor [init]="tinyCurriculumInit" formControlName="curriculum"></editor>
    </div>
    <div class="field">
        <h4 class="ui violet ribbon big label">Intructors</h4>
        <editor [init]="tinyInstructorsInit" formControlName="instructors"></editor>
    </div>
    <button type="submit" class="ui submit large blue button" [disabled]="classForm.pristine || classForm.errors">Add Class</button>
    <button type="button" class="ui submit large grey button" (click)="onCancelAddClass()">Cancel</button>
</form>