<div class="ui centered grid">
  <div class="six wide column">
    <h2>Class Registration</h2>
    <form novalidate [formGroup]="classRegForm" (ngSubmit)="onSubmitForm();">
      <section class="customer-name">
        <label for="email">Email:</label>
        <input type="text" formControlName="email" placeholder="email address">
        <label for="surname">Surname:</label>
        <input type='text' formControlName="surname" placeholder="surname">
        <label for="givenname">Given Name:</label>
        <input type='text' formControlName="givenname" placeholder="given name">
        <label for="phone">Phone Number:</label>
        <input type='text' formControlName="phone" placeholder="phone number">
        <div class="errors" *ngIf="f.phone.errors">
          <div *ngIf="f.phone.errors.required && (f.phone.dirty || f.phone.touched)">phone number is required</div>
          <div *ngIf="!f.phone.errors.required  && (f.phone.dirty || f.phone.touched)">ddd-ddd-dddd</div>
        </div>
      </section>
      <section class="customer-name">
        <label for="address">Address :</label>
        <input formControlName="address" type="text" placeholder="address">
        <div class="errors" *ngIf="f.address.errors">
          <div *ngIf="f.address.errors.required && (f.address.dirty || f.address.touched)">Address is required!</div>
        </div>
        <label for="city">City :</label>
        <input formControlName="city" type="text" placeholder="city">
        <div class="errors" *ngIf="f.city.errors">
          <div *ngIf="f.city.errors.required && (f.city.dirty || f.city.touched)">City is required!</div>
        </div>
        <div>
          <label for="state">State :</label>
          <select formControlName="state">
            <option *ngFor="let s of states" [ngValue]="s.stateCode">{{s.description}}</option>
          </select>
          <div class="errors" *ngIf="f.state.errors">
            <div *ngIf="f.state.errors.required && (f.state.dirty || f.state.touched)">State is required!</div>
          </div>
        </div>
        <label for="zipcode">Zip Code:</label>
        <input formControlName="zipcode" type="text" placeholder="zip Code">
        <div class="errors" *ngIf="f.zipcode.errors">
          <div *ngIf="f.zipcode.errors.required && (f.zipcode.dirty || f.zipcode.touched)">zip code is required!</div>
        </div>
        <label for="countrycode">Country Code:</label>
        <input formControlName="countrycode" type="text" placeholder="country Code">
        <div class="errors" *ngIf="f.countrycode.errors">
          <div *ngIf="f.countrycode.errors.required && (f.countrycode.dirty || f.countrycode.touched)">City is required!
          </div>
        </div>
      </section>
      <section class="customer-name">
        <label for="classlevel">Class Level:</label>
        <select formControlName="classlevel">
          <option *ngFor="let c of classes" [ngValue]="c.level">{{c.description}}</option>
        </select>
        <div class="errors" *ngIf="f.classlevel.errors">
          <div *ngIf="f.classlevel.errors.required && (f.classlevel.dirty || f.classlevel.touched)">Class Level is
            Required!</div>
        </div>
      </section>
      <button type="submit" [disabled]="!classRegForm.valid">Submit</button>
      <button type="button" (click)="onResetForm()">Reset</button>
    </form>
  </div>
</div>