<div class="ui padded grid">
  <div class="ui huge center aligned blue header">
    VNPS Photography Programs
  </div>
  <p>
    VNPS offers three photography courses: basic, intermediate, and advance photography. Its program lasts 9 months for
    a total of 36 three hour sessions. The courses start in February, few weeks after the Vietnamese Tet (the Lunar New
    Year) and end in Novemver, class session occurs on Sundays at the Willson Center, 6131 Willston Drive, Falls Church,
    VA 22042.
  </p>
  <p>
    Because each students has different backgrounds and experiences and are from all walks of life, each year the
    program has been modified to suit individual needs but also fulfill the VNPS requirements for each level. The below
    are approved programs for 2016.
  </p>
  <p>
    To request information on the program and how to register for VNPS photography course, please send email to
    info@dcvnps.org
  </p>
</div>
<p></p>
<div class="ui padded grid">
  <div class="stretched row">
    <div class="three wide column">
      <div class="ui vertical fluid tabular menu borderless">
        <a class="item" *ngFor="let m of classMenus" [routerLink]="['../',m.id]"
          [routerLinkActive]="['active']">{{m.description}}</a>
      </div>
    </div>
      <div class="nine wide column">
      <div class="ui basic segment">
        <div class="ui basic segment">
          <div class="ui teal ribbon big label">Description</div>
          <div>{{curClass.classDescription}}</div>
        </div>
        <div class="ui basic segment">
          <div class="ui light blue ribbon big label">Prerequisite</div>
          <div>{{curClass.prerequisite}}</div>
        </div>
        <div class="ui basic segment">
          <div class="ui violet ribbon big label">Curriculum</div>
          <div [innerHTML]="curClass.curriculum | safeHtml"></div>
        </div>
        <div class="ui basic segment">
          <div class="ui violet ribbon big label">Instructors</div>
          <div [innerHTML]="curClass.instructors | safeHtml"></div>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui basic segment">
        <div class="ui card">
          <div class="content">
            <h3 class="header">Class Enrollment Payment</h3>
            <h5 class="description">Enrollment Fee: {{classFee | currency}}</h5>
            <div class="meta">There is a 5% transaction fee applied</div>
          </div>
          <div class="extra content">
            <app-paypal-button [purchaseAmount]="classFee" [purchaseDescription]="paypalDesc"></app-paypal-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>