<table class="ui selectable striped celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>E-mail address</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of showUsers">
      <td>{{u.fullName| titlecase}}</td>
      <td>{{u.email}}</td>
      <td>{{u.roleDescription}}</td>
      <td class="center aligned">
        <button class="ui basic blue button" (click)="onEditUser(u);">Edit</button>
        <button class="ui basic red button" (click)="onDeleteUser(u.userId);">Delete</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>
        <div class="ui primary labeled icon button" (click)="onAddUser();">
          <i class="user icon"></i>Add User
        </div>
      </th>
      <th colspan="3">
        <div class="ui right floated pagination menu">
          <a class="icon item" (click)="previousPage();" [ngClass]="{disabled:initPage === 1}"><i class="left chevron icon"></i></a>
          <a class="item" *ngFor="let p of Pages" (click)="showPage(p);" [class.active]="initPage ===p">{{p}}</a>
          <a class="icon item" (click)="nextPage();" [ngClass]="{disabled:initPage === Pages.length}"><i class="right chevron icon"></i></a>
        </div>
      </th>
    </tr>
  </tfoot>
</table>