<table class="ui selectable striped celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>E-mail address</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of showUsers">
      <td>{{u.fullName| titlecase}}</td>
      <td>{{u.email}}</td>
      <td>{{u.roleDescription}}</td>
      <td class="center aligned">
        <button class="ui basic blue button" (click)="onEditUser(u);">Edit</button>
        <button class="ui basic red button" (click)="onDeleteUser(u);">Delete</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>
        <div class="ui primary labeled icon button" (click)="onAddUser();">
          <i class="user icon"></i>Add User
        </div>
      </th>
      <th colspan="3">
        <div class="ui right floated pagination menu">
          <a class="icon item" (click)="previousPage();" [ngClass]="{disabled:initPage === 1}"><i
              class="left chevron icon"></i></a>
          <a class="item" *ngFor="let p of Pages" (click)="showPage(p);" [class.active]="initPage ===p">{{p}}</a>
          <a class="icon item" (click)="nextPage();" [ngClass]="{disabled:initPage === Pages.length}"><i
              class="right chevron icon"></i></a>
        </div>
      </th>
    </tr>
  </tfoot>
</table>

<!--  Add User Confirmation Dialog-->
<div class="ui modal" #adduserdialog id="adduserdialog">
  <app-new-user (userAdded)="onNewUserAdded($event)" (cancelNewUser)="onCancelNewUser($event)" [roles]="roles">
  </app-new-user>
</div>
<!-- Edit User Dialog -->
<div class="ui modal" #edituserdialog id="edituserdialog">
  <!-- <app-edit-user (userEdited)="onUserEdited($event)" (cancelEditUser)="onCancelEditUser($event)" [user]="user" [roles]="roles"></app-edit-user> -->
  <div class="ui centered grid">
    <div class="six wide column">
      <h3 class="ui center aligned header">Edit DCVNPS User</h3>
      <form novalidate [formGroup]="userForm">
        <div class="ui form">
          <div class="field" [ngClass]="{'error': f.firstName.invalid &&( f.firstName.dirty || f.firstName.touched)}">
            <label>First Name</label>
            <input type="text" placeholder="First Name" formControlName="firstName">
            <div [style.color]="'red'" *ngIf="f.firstName.errors && ( f.firstName.dirty || f.firstName.touched )">
              <div class="header" *ngIf="f.firstName.errors.required"> First Name is required.</div>
            </div>
          </div>
          <div class="field" [ngClass]="{'error': f.lastName.invalid &&( f.lastName.dirty || f.lastName.touched)}">
            <label>Last Name</label>
            <input type="text" placeholder="Last Name" formControlName="lastName">
            <div [style.color]="'red'" *ngIf="f.lastName.errors && ( f.lastName.dirty || f.lastName.touched )">
              <div class="header" *ngIf="f.lastName.errors.required"> Last Name is required.</div>
            </div>
          </div>
          <div class="field" [ngClass]="{'error': f.email.invalid  && ( f.email.dirty || f.email.touched)}">
            <label>Email</label>
            <input type="text" placeholder="Email Address" formControlName="email">
            <div [style.color]="'red'" *ngIf="f.email.errors && ( f.email.dirty || f.email.touched )">
              <div class="header" *ngIf="f.email.errors.required"> email is required.</div>
              <div class="header" *ngIf="f.email.errors.email"> a valid email address is required.</div>
            </div>
          </div>
          <div class="field" [ngClass]="{'error': passwordInvalid &&( f.password.dirty || f.password.touched)}">
            <label>password</label>
            <input class="password" type="password" placeholder="Password" formControlName="password"><span
              *ngIf="!passwordInvalid && f.password.touched  && passwordMatched"><i class="green check icon"></i></span>
            <div [style.color]="'red'" *ngIf="passwordInvalid && ( f.password.dirty || f.password.touched )">
              <div class="header" *ngIf="passwordInvalid"> Password minimum length is 8
                characters.</div>
            </div>
          </div>
          <div class="field"
            [ngClass]="{'error':cnfrmPwdInvalid &&( f.confirmPassword.dirty || f.confirmPassword.touched)}">
            <label>password</label>
            <input class="password" type="password" placeholder="Confirm Password"
              formControlName="confirmPassword"><span
              *ngIf="!cnfrmPwdInvalid && f.confirmPassword.touched && passwordMatched"><i
                class="green check icon"></i></span>
            <div [style.color]="'red'" *ngIf="( f.confirmPassword.dirty || f.confirmPassword.touched )">
              <div class="header" *ngIf="cnfrmPwdInvalid"> Password minimum length is 8
                characters.</div>
            </div>
          </div>
          <div [style.color]="red" *ngIf="!passwordMatched">Passwords Not Matched.</div>
          <div class="inline fields">
            <div class="field">
              <label for="activeInd">Active Indicator:</label>
              <select class="menu" formControlName="activeInd">
                <option class="item" [ngValue]="'N'" >N</option>
                <option class="item" [ngValue]="'Y'" >Y</option>
              </select>
            </div>
          </div>
          <div class="inline fields"
            [ngClass]="{error: f.roleCode.invalid && ( f.roleCode.dirty || f.roleCode.touched)}">
            <div class="field">
              <label for="roleCode">Role</label>
              <select class="menu" formControlName="roleCode">
                <option class="item" *ngFor="let role of roles" [ngValue]="role.roleCode">{{role.roleDescription}}</option>
              </select>
            </div>
            <div [style.color]="'red'" *ngIf="f.roleCode.errors && ( f.roleCode.dirty || f.roleCode.touched)">
              <div class="header" *ngIf="f.roleCode.errors.required"> Please Select a Role.</div>
            </div>
          </div>
        </div>
        <div class="ui menu borderless">
          <button type="button" class="ui primary button" [disabled]="userForm.errors || userForm.invalid"
            (click)="onUserEdited();">Submit</button>
          <button type="button" class="ui button" (click)="onCancelEditUser();">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete User Confirmation Dialog-->
<div class="ui modal" #deleteconfirmation id="deleteconfirmation">
  <i class="close icon"></i>
  <div class="header">
    Delete User: {{user.fullName | titlecase}}
  </div>
  <div class="image content">
    <div class="description">
      <div class="ui header">This will remove user {{user.fullName | titlecase}} with role
        {{user.roleDescription | titlecase}} from access list.</div>
      <p>Do you want to continue?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button" (click)="onAcceptDenyDelete(false);">
      Cancel
    </div>
    <div class="ui positive right labeled icon button" (click)="onAcceptDenyDelete(true)">
      Yes
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>