<div class="ui centered grid">
  <div class="ten wide column">
    <h1>Upload Image!</h1>
    <div *ngIf="error">
      {{ error.message }}
    </div>
    <div *ngIf="uploadResponse.status === 'error'">
      {{ uploadResponse.message }}
    </div>
    <div *ngIf="uploadResponse.status === 'progress'">
      <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0"
        aria-valuemax="100">
        {{uploadResponse.message}}%
      </div>
    </div>
    <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" class="ui form">
      <div class="inline field">
        <label>Select Gallery to Upload</label>
        <select formControlName="upldGallery" class="menu">
          <option *ngFor="let g of galleries" [value]="g" class="item">{{g|titlecase}}</option>
        </select>
      </div>
      <div class="field">
        <input type="file" formControlName="imageFile" (change)="onSelectFile($event)" multiple/>
      </div>
      <button type="submit">Upload</button>

    </form>
    <img *ngFor='let url of reviewUrl'  [src]="url" height="200"> <br/>
  </div>
</div>