<div class="login-container">
  <h1 class="ui blue centered header">Login</h1>
    <form novalidate class="ui big form" [formGroup]="loginForm">
      <div class="inline field" [ngClass]="{'error': f.email.invalid  && ( f.email.dirty || f.email.touched)}">
        <label>Email</label>
        <input type="text" placeholder="Email Address" formControlName="email">
        <div [style.color]="'red'" *ngIf="f.email.errors && ( f.email.dirty || f.email.touched )">
          <div class="header" *ngIf="f.email.errors.required"> email is required.</div>
          <div class="header" *ngIf="f.email.errors.email"> a valid email address is required.</div>
        </div>
      </div>
      <div class="inline field" [ngClass]="{'error': f.password.invalid &&( f.password.dirty || f.password.touched)}">
        <label>password</label>
        <input class="password" type="password" placeholder="Password" formControlName="password"
        (keyup.enter)="onEnterKey();"><span
          *ngIf="f.password.valid"><i class="green check icon"></i></span>
        <div [style.color]="'red'" *ngIf="f.password.errors && ( f.password.dirty || f.password.touched )">
          <div class="header" *ngIf="f.password.errors.required"> Password is required.</div>
          <div class="header" *ngIf="f.password.errors.minlength"> Password minimum length is 8 characters.</div>
        </div>
      </div>
      <div *ngIf="formError">
        <div class="header small" [style.color]="'red'">{{formError}}</div>
      </div>
      <button type="button" class="ui secondary button float right floated" (click)="onCancel();">Cancel</button>
      <button type="button" class="ui primary button float right floated" (click)="onSubmit();"  [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>
