.text-center{
    text-align:center;
}

.slide-medium{
    width: 800px;
    height: 600px;
}


.slide-button-prev{
    opacity: 0.4; 
    position: relative; 
    float: left;
}

.slide-button-next{
    opacity: 0.4; 
    position: relative;
    float: right;
}

.slide-start-stop{
    display: flex; justify-content: space-around;
}

.min-page-height{
    min-height: 600px;
}

#pagebody{
    border-radius: 0!important;
    box-shadow: none!important;
}
