<div [hidden]="slide.hidden" *ngIf="slide" style="position: relative;">
    <img [src]="slide.imgsrc" class="ui fluid image">
    <div style="z-index: 1500; position: absolute; width:100%; top: 50%; opacity: 0.3;">
        <div style="float: left;">
            <a href="#" (click)="prevSlide()">
                <i class="icon chevron circle left huge"></i>
            </a>
        </div>
        <div style="float: right;">
            <a href="#" (click)="prevSlide()">
                <i class="icon chevron circle right huge"></i>
            </a>
        </div>
    </div>
</div>