<div [hidden]="slide.hidden" *ngIf="slide" style="position: relative;">
    <img [src]="slide.imgsrc" class="ui fluid image">
    <div class="prev-next-btns">
        <div class="prev-btn">
            <div class="ui basic button" (click)="prevSlide()">
                <i class="chevron circle left icon huge"></i>
            </div>
        </div>
        <div class="next-btn">
            <div class="ui basic button" (click)="nextSlide()">
                <i class="chevron circle right icon huge"></i>
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="ui blue basic button" (click)="startStopSlideShow();">
            {{startStopBtnLabel}}
        </div>
    </div>
</div>